* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  min-width: 700px;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
  padding: 20px;
}
p {
  margin: 0px;
  padding: 9px 0 0 0;
}
header {
  display: flex;
}

main {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;

}
.header_text {
  flex: 3;
  font-size: 30px;
  color: #73bec8;
  font-weight: bold;
  margin-right: 30px;
  /*line-spacing: */
}
.header_logo {
  flex: 6;
}
.header_menu {
  flex: 1;
}
h1 {
  text-align: center;
  font-size: 50px;
}

.blue_box {
  background: #73bec8;
  color: white;
  border-radius: 5px;
  width: 180px;
  height: 180px;
}

.yellow_box {
  background: #e4ba3f;
  color: white;
  border-radius: 5px;
  width: 180px;
  height: 180px;
}

.icon {
  height: 50px;
  width: 50px;
  margin: 10px 10px 10px 10px;
}

.icon_row {
  display: flex;
  width: 400px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
}

.icon_row p {
  font-size: 25px;
  text-align: center;
}
.icon_column {
  flex: 1;
  width: 200px;
  height: 200px;
}
